---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
    href={href}
    class:list={[
        "inline-block uppercase py-2 px-3 transition-all text-base",
        {
            "bg-blue-950/50 text-stone-100": isActive,
            "text-black hover:bg-blue-950/10": !isActive,
        },
    ]}
    {...props}
>
    <slot />
</a>
<style>
    a.active {
        font-weight: bolder;
        text-decoration: underline;
    }
</style>
